<div>
  <% @articles.each do |article| %>
    <tr>
      <h1><td><%= article.author_name %></td></h1>
      <h2><td><%= article.title %></td></h2>
      <h3><td><%= article.description %></td></h3>
       <% if current_user.admin? == true %>
        <%= link_to "Delete", article_path(article.id), :confirm => "Are you sure?", :method => :delete %>
        <%if article.approved? != true %>
        <%= link_to "approve", approve_article_path(article.id), method: :put  %>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</div>

<%= link_to 'New article', new_article_path(current_user) %>

<%if current_user%>
<%= link_to "Sign out", destroy_user_session_path , method: :delete %>
<% else %>
<%= link_to "Sign up", new_user_registration_path %>
<%= link_to "sign in", new_user_session_path  %>
<%end%>