<div>
  <% @articles.each do |article| %>
    <tr>
      <h1><td><%= article.author_name %></td></h1>
      <h2><td><%= article.title %></td></h2>
      <h3><td><%= article.description %></td></h3>
    </tr>
  <% end %>
</div>

<%= link_to 'New article', new_user_article_path(current_user) %>

<%if current_user%>
<%= link_to "Sign out", destroy_user_session_path , method: :delete %>
<% else %>
<%= link_to "Sign up", new_user_registration_path %>
<%= link_to "sign in", new_user_session_path  %>
<%end%>